.numericKeypad {
    background-color: #144b90;
    border: 1px solid #666666;
    color: #000000;
    display: inline-block;
    font-family: arial;
    font-weight: bold;
    margin: 2px;
    /*padding: 3px 6px;*/
    padding: 5px 5px 5px 5px;
    text-align: center;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    /*height: 250px;*/
    width: 120px;

}
.key {
    background-color: #EEEEEE;
    border: 1px solid #666666;
    color: #000000;
    cursor: pointer;
    display: inline-block;
    font-family: arial;
    font-weight: bold;
    margin: 2px;
    padding: 5px 5px 5px 5px;
    width: 20px;
    text-align: center;
    border-radius: 50px; 
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
}
.key:hover {
    background-color: #009bf4;
    border: 1px solid #666666;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: arial;
    font-weight: bold;
    margin: 2px;
    padding: 5px 5px 5px 5px;
    width: 20px;
    text-align: center;
    border-radius: 50px; 
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
}
.big-key {
    background-color: #EEEEEE;
    border: 1px solid #666666;
    color: #000000;
    cursor: pointer;
    display: inline-block;
    font-family: arial;
    font-weight: bold;
    margin: 2px;
    padding: 5px 5px 5px 5px;
    width: 70%;
    text-align: center;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.big-key:hover {
    background-color: #009bf4;
    border: 1px solid #666666;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: arial;
    font-weight: bold;
    margin: 2px;
    padding: 5px 5px 5px 5px;
    width: 70%;
    text-align: center;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.arr-up  {
    background-color: #009bf4;
    border: 1px solid #666666;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: arial;
    font-weight: bold;
    margin: 2px;
    padding: 5px 5px 5px 5px;
    width: 20px;
    text-align: center;
    border-radius: 50px; 
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
}
.arr-up:hover  {
    background-color: #eee;
    border: 1px solid #666666;
    color: #000;
    cursor: pointer;
    display: inline-block;
    font-family: arial;
    font-weight: bold;
    margin: 2px;
    padding: 5px 5px 5px 5px;
    width: 20px;
    text-align: center;
    border-radius: 50px; 
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
}
.arr-up:after{
    content: "\2227";
    font-size: 16px;
    /*font-weight: bold;    */
}
.arr-down {
    background-color: #009bf4;
    border: 1px solid #666666;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: arial;
    font-weight: bold;
    margin: 2px;
    padding: 5px 5px 5px 5px;
    width: 20px;
    text-align: center;
    border-radius: 50px; 
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
}
.arr-down:hover {
    background-color: #eee;
    border: 1px solid #666666;
    color: #000;
    cursor: pointer;
    display: inline-block;
    font-family: arial;
    font-weight: bold;
    margin: 2px;
    padding: 5px 5px 5px 5px;
    width: 20px;
    text-align: center;
    border-radius: 50px; 
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
}
.arr-down:after{
    content: "\2228";
    font-size: 16px;
    /*font-weight: bold;    */
}
